/* CSS */
.button-23 {
  border: 3px solid #4db5ff;
  border-radius: 8px;
  box-sizing: border-box;

  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 4px 8px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}
