.swiper {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 50px;
}

.swiper-wrapper {
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 350px;
}

/* new */
@media only screen and (max-width: 768px) {
  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .pad {
    margin: 40px 200px 0 200px;
  }
}
@media only screen and (min-width: 1366px) {
  .pad {
    margin: 0 380px 0 380px;
  }
}
